{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 歌曲 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables/1.10.19/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/1.10.19/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">用户</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="equipment-list" class="table table-bordered table-striped">
                        <thead>
                            {% if message %}
                            <div class=" alert alert-warning">{{ message }}</div>
                            {% endif %}
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>是否上架</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <td>{{ song.id }}</td>
                                <td>{{ song.name }}</td>
                                {% if song.type == "public" %}
                                <td>
                                    <i>通用音乐</i>
                                </td>
                                {% elif song.type == "mainland" %}
                                <td>
                                    <i>大陆红歌</i>
                                </td>
                                {% elif song.type == "taiwan" %}
                                <td>
                                    <i>台语歌</i>
                                </td>
                                {% elif song.type == "japanese" %}
                                <td>
                                    <i>日语歌</i>
                                </td>
                                {% endif %}
                                {% if song.is_shelf == True %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-success">上架</i>
                                </td>
                                {% elif song.is_shelf == False %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-danger">下架</i>
                                </td>
                                {% endif %}
                                <td>
                                    <a href="/admin/timechick/song/{{ song.id }}">
                                        <button type="button" class="btn btn-block btn-outline-info">编辑</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>是否上架</th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'plugins/datatables/1.10.19/jquery-3.3.1.js' %}"></script>
<script src="{% static 'plugins/datatables/1.10.19/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/1.10.19/dataTables.bootstrap4.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
        $('#equipment-list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
{% endblock %}